.main_wrapper {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #282c34;
  padding: 10px;
}

.currency_wrapper {
  display: flex;
}
.curr_abbr {
  width: 50px;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}